body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #666666;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tbody,td,th{
    font-size: 25pt;
    border: 2px solid rgb(175, 37, 83);
    text-align: center;
    padding: 6px;
    border-radius: 10px;
}
table{
    border: 3px solid rgb(175, 37, 83);
    background-color: white;
}

