body{
  padding: 0px;
  margin: 0px;
}

img{
  display: flex;
  margin-left: 295px;
  margin-top: 15px;
}

.menu{
  display: flex;
  background-color: rgb(148, 0, 0);
  color: white;
  margin-top: 11px;
  height: 48px;
  align-items: center;
  font-size: 15px;
}

ul,li{
  display: flex;
  margin-top: 9px;
  margin-left: 16px;
}

#HOME{
  margin-left: 295px;
  margin-right: 15px;
}