* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100%;
    background-image: url("imagens/dark\ green.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 340px;
    height: 440px;
    background-color: rgb(18, 46, 31);
    border-radius: 17px;
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
}

input {
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
}

button {
  outline: none;
  border: none;
  margin: 8px 0;
  border-radius: 100px;
  background-color: rgba(41, 82, 41, 0.897);
  margin: 15px;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
}
button:hover {
    background-color: rgb(31, 65, 31);
}

.erro {
    color: red;
}
h1{
    margin: 10px;
}