#primeira {
    border: 5px solid red;
    background-color: black;
    color: white;
    height: 150px;
    width: 250px;
    font-size: 20pt;
}
#segunda{


}
#terceira {
    background-color: yellow;
    border: 10px double green;
    height: 300px;
    padding: 50px;
    margin: 50px;
    display: flex;

}
.subdiv{
    margin: 15px;
    color: white;
    background-color: blue;
    border: 10px solid orangered;
    margin-bottom: 10px;
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;

}